# Node and build artifacts
node_modules/
dist/
.DS_Store

# Environment variables - ignore local overrides/secrets
.env
.env.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Optional editor directories
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.sublime-project
